.about {
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4.5px);
  z-index: 2;
  perspective: 300px;
  font-family: "Montserrat", sans-serif;
}

.container {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: showup 0.2s;
  transform: translate3d(1px, 1px, -1000px);
  animation-fill-mode: forwards;
  color: black;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-image {
  border-radius: 100px;
  border: 3px solid #e5e5e5;
  background-color: #d1ddff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.description {
  color: black;
  border-left: 1px solid white;
  border-top: 1px solid white;
  background-color: #edf2fb;
  padding-left: 10px;
  border-radius: 20px;
  width: 60%;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
}

.description h1 {
  font-size: 2.5vmax;
  font-weight: 600;
}

.description h2 {
  font-size: 1.5vmax;
  font-weight: 500;
}

.description p {
  text-indent: 0.5em;
  width: 95%;
  text-align: justify;
  font-size: 1.3vmax;
}

.return-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 65%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2%;
  background-color: #edf2fb;
  border: none;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.2s;
  transform: translate3d(1, 1, 1);
  perspective: 200px;
}

.return-button:hover {
  transform: translate3d(-3px, -3px, -4px);
  background-color: #ffa31a;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
}

@keyframes showup {
  from {
    opacity: 0.2;
    transform: translate3d(1px, 1px, -10000px);
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Reponsividade para celulares */
@media screen and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-container img {
    max-width: 220px;
  }

  .description {
    margin-top: 2%;
    width: 95%;
    height: 100%;
  }

  .description h2 {
    font-size: 2.2vmax;
  }

  .description p {
    font-size: 2vmax;
  }
}

/* Responsividade para tablets e monitores menores */
@media screen and (min-width: 650px) and (max-width: 1000px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-container img {
    width: 40%;
  }

  .description {
    width: 95%;
    margin-top: 5%;
  }
  .description h1 {
    font-size: 3vmax;
  }

  .description h2 {
    font-size: 2.5vmax;
  }

  .description p {
    font-size: 2vmax;
  }
}
