.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#project-thumb {
  max-width: 700px;
  border-right: 1px solid white;
  border-radius: 22px;
  -webkit-box-shadow: -4px 7px 6px 2px #000000;
  box-shadow: -4px 7px 6px 2px #000000;
}

.label {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  border: 1px solid black;
  border-radius: 22px;
  background-color: #edf2fb;
  -webkit-box-shadow: -7px 7px 3px 4px #000000;
  box-shadow: -7px 7px 3px 4px #000000;
  width: 60%;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.label h1 {
  padding-top: 5px;
  color: black;
}

.label p {
  text-indent: 0.5em;
  text-align: justify;
  font-size: 2vmin;
  padding: 5px;
}

.active-right {
  animation: right-direction 0.2s forwards;
  transform: translateX(5000px);
  opacity: 0;
}

.active-right-2 {
  animation: right-direction-2 0.2s forwards;
  transform: translateX(5000px);
  opacity: 0;
}

.active-left {
  animation: left-direction 0.2s forwards;
  transform: translateX(-5000px);
  opacity: 0;
}

.active-left-2 {
  animation: left-direction-2 0.2s forwards;
  transform: translateX(-5000px);
  opacity: 0;
}

.right-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.right-button img {
  background-color: transparent;
}

.left-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.left-button img {
  background-color: transparent;
  transform: rotate(-180deg);
}

.right-button:hover,
.left-button:hover {
  transform: scale(1.1);
}

.project-return {
  margin-left: 53%;
  margin-top: 1%;
  background-color: #edf2fb;
  border: none;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.2s;
  transform: translate3d(1, 1, 1);
  perspective: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  animation: showup 0.3s;
}

.project-return:hover {
  transform: translate3d(-3px, -3px, -4px);
  background-color: #ffa31a;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
}

@keyframes right-direction {
  from {
    opacity: 0;
    transform: translateX(5000px);
  }

  30% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-direction-2 {
  from {
    opacity: 0;
    transform: translateX(5000px);
  }

  30% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes left-direction {
  from {
    opacity: 0;
    transform: translateX(-5000px);
  }

  30% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes left-direction-2 {
  from {
    opacity: 0;
    transform: translateX(-5000px);
  }

  30% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Responsividade */

@media screen and (max-width: 650px) {
  .img-container {
    margin-top: 5%;
  }

  #project-thumb {
    max-width: 300px;
  }

  .left-button img {
    width: 27.3px;
  }

  .right-button img {
    width: 30px;
  }

  .label {
    width: 95%;
  }

  .label h1 {
    width: 100%;
    padding: 0;
    font-size: 4.1vmax;
  }

  .label p {
    padding: 5px;
    font-size: 2.5vmax;
  }

  .project-return {
    margin-top: 5%;
  }
}

@media screen and (min-width: 650px) and (max-width: 1450px) {
  body {
    overflow-y: auto;
  }
  .img-container {
    margin: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #project-thumb {
    width: 70%;
  }

  .label {
    width: 100%;
  }

  .label p {
    font-size: 2.3vmin;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1650px) {
  body {
    overflow-y: auto;
  }
  .img-container {
    margin: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #project-thumb {
    width: 90%;
  }

  .label {
    width: 100%;
  }

  .label p {
    font-size: 2.3vmin;
  }
}
