.contact {
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3.5px);
  z-index: 2;
  perspective: 300px;
}

.hide {
  display: none;
}

.contact-content {
  width: 60%;
  height: 50%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: #edf2fb;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
  border-radius: 22px;
  animation: showup 0.3s;
  transform: translate3d(1px, 1px, -1000px);
  animation-fill-mode: forwards;
  font-family: "Montserrat", sans-serif;
}

.contact-content p {
  margin: auto;
  margin-top: 50px;
  width: 70%;
  padding: 10px;
  color: #080c1a;
  font-size: 1.7em;
  font-weight: 400;
}

.icon-container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.contact-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  text-align: center;
  background: #292f36;
  border-radius: 16px;
  border: none;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
}

.contact-return {
  position: absolute;
  margin-left: 75%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffa31a;
  border: none;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.2s;
  transform: translate3d(1, 1, 1);
  perspective: 200px;
}

.contact-return:hover {
  transform: translate3d(-3px, -3px, -4px);
  background-color: #ffa31a;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
}
