.contact {
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4.5px);
  z-index: 2;
  perspective: 300px;
}

.hide {
  display: none;
}

.contact-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  animation: showup 0.3s;
  transform: translate3d(1px, 1px, -1000px);
  animation-fill-mode: forwards;
  font-family: "Montserrat", sans-serif;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: #edf2fb;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
  border-radius: 22px;
}

.contact-content p {
  margin: auto;
  text-align: justify;
  text-indent: 0.5em;
  margin-top: 40px;
  width: 70%;
  padding: 10px;
  color: #080c1a;
  font-size: 1.7vmax;
  font-weight: 400;
}

.contact-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin-bottom: 2%;
  text-align: center;
  background: #292f36;
  border-radius: 16px;
  border: none;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
}

.contact-icons img {
  transition: 0.2s;
  cursor: pointer;
}

.contact-icons img:hover {
  transform: scale(1.1);
}

.contact-return {
  margin-left: 70%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #edf2fb;
  border: none;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.2s;
  transform: translate3d(1, 1, 1);
  perspective: 200px;
}

.contact-return:hover {
  transform: translate3d(-3px, -3px, -4px);
  background-color: #ffa31a;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
}

/* Responsividade */

@media screen and (max-width: 650px) {
  .contact-container {
    width: 95%;
  }
  .contact-content {
    width: 100%;
  }

  .contact-content p {
    margin-top: 2%;
  }

  .contact-icons {
    width: 80%;
    margin-bottom: 5%;
  }
  .contact-icons img {
    width: 40px;
  }

  .contact-content p {
    font-size: 2.5vmax;
    width: 95%;
  }
}

@media screen and (min-width: 650px) and (max-width: 1300px) {
  .contact-container {
    width: 95%;
  }
  .contact-content {
    width: 100%;
  }

  .contact-content p {
    margin-top: 2%;
  }

  .contact-icons {
    width: 80%;
    margin-bottom: 5%;
  }
  .contact-icons img {
    width: 40px;
  }

  .contact-content p {
    font-size: 2.5vmax;
    width: 95%;
  }
}
