.projects {
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  z-index: 2;
  perspective: 300px;
}

.hide {
  display: none;
}

.projects-content {
  width: 80%;
  height: 80%;
  color: black;
  animation: showup 0.3s;
  transform: translate3d(1px, 1px, -1000px);
  animation-fill-mode: forwards;
}

.project-return {
  position: absolute;
  margin-left: 60%;
  margin-top: 30%;
  background-color: #edf2fb;
  border: none;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.2s;
  transform: translate3d(1, 1, 1);
  perspective: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  animation: showup 0.3s;
}

.project-return:hover {
  transform: translate3d(-3px, -3px, -4px);
  background-color: #ffa31a;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 2px 3px #000000;
  box-shadow: 5px 5px 2px 3px #000000;
}
