.header-container {
  animation: start 0.1s forwards;
  opacity: 0;
}

.header-type {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #e5ecff;
}

.header-container h1 {
  text-align: center;
  color: #e5ecff;
  height: 100px;
}

.card-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin-left: 2%;
  width: 200px;
  height: 300px;
  font-size: 20px;
  transition: 0.5s;
  border: 2px solid #d3deff;
  border-radius: 20px;
  cursor: pointer;
  background-color: #3656b5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: transparent;
  font-size: 1.6em;
  font-family: "Montserrat", sans-serif;
}

.card:hover {
  box-shadow: #4d4dff 0px 25px 50px -12px;
  background-color: #ffa31a;
  border: none;
  width: 250px;
  height: 350px;
  font-weight: 500;
  color: #1b1b1b;
}

.card img {
  pointer-events: none;
}

.card p {
  pointer-events: none;
}

#card-1 {
  animation: card-slide 4.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#card-2 {
  animation: card-slide 4.7s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#card-3 {
  animation: card-slide 4.8s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#card-4 {
  animation: card-slide 4.9s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#type {
  position: absolute;
}

.glitch {
  font-size: 3.5vmax;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #f9b4b9,
    0.025em 0.04em 0 #cc0f39;
  animation: glitch 725ms infinite;
  font-family: "Press Start 2P", cursive;
}

#glitch {
  transform: scale3d(1.3, 1.3, -15.3);
  animation: opacity 4.7s;
  animation-fill-mode: forwards;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #cc0f39;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #cc0f39;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #cc0f39;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #cc0f39;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #cc0f39;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #cc0f39;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #cc0f39;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  98% {
    opacity: 0.01;
    transform: scale3d(-1.3, -1.3, -25.3);
  }

  99% {
    opacity: 0.5;
    transform: scale3d(3.3, 3.3, 5);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes card-slide {
  97% {
    opacity: 0;
    transform: translate(0, 500px);
  }

  99% {
    opacity: 1;
    transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes start {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Responsividade */
@media screen and (max-width: 650px) {
  body {
    overflow-y: auto;
  }

  .header-container h1 {
    padding: 0;
    height: 100%;
  }

  .header-type h1 {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin-bottom: 5%;
    margin-right: 1.5%;
    color: white;
  }
}

@media screen and (min-width: 650px) and (max-width: 1300px) {
  body {
    overflow-y: auto;
  }

  .card-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 15%;
    margin-top: 0;
  }

  
}
